<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>allUsers</title>
</head>
<body>
<div th:swich="${allusrs}">
    <h2 th:case="null"> Empty list of users</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allusrs}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstname()}"></td>
                <td th:text="${user.getLastname()}"></td>
                <td th:text="${user.getAge()}"></td>

                <td><a th:href="@{update-user/{id}(id=${user.getId})}">Edit</a></td>
                <td><a th:href="@{delete-user/{id}(id=${user.getId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/create-user">Create</a></p>
</div>
</body>
</html>