<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateUser</title>
</head>
<body>
<form action="#" th:action="@{/create-user}" th:object="${user}" method="post">
    <label for="firstName">Firstname</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Firstname">
    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Lastname">
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <input type="submit" VALUE="Create">
</form>
</body>
</html>
