<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>allUsers</title>
</head>
<body>
<div th:swich="${allusr}">
    <h2 th:case="null"> Empty list of users</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usr : ${allusr}">
                <td th:text="${usr.getId}"></td>
                <td th:text="${usr.getFirstname}"></td>
                <td th:text="${usr.getLastname}"></td>
                <td th:text="${usr.getAge}"></td>

                <td><a th:href="@{update-user/{id}(id=${usr.getId})}">Edit</a></td>
                <td><a th:href="@{delete-user/{id}(id=${usr.getId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/create-user">Create</a></p>
</div>
</body>
</html>